<section class="main-header">
    <header class="app-header">
        <nav>
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  >Home</a>
            <a routerLink="/cocktails" routerLinkActive="active" >Cocktails</a>
            
        </nav>
        <img routerLink="" routerLinkActive="active" src="../assets/logo.png" alt="">
        <nav>
            <a routerLink="/favorites" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Favorites</a>
            <a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  >about</a>
        </nav>
        
    </header>
</section>