.cocktail-details {
  height: 600px;
  width: 555px;
  position: fixed;
  inset: 0;
  top: 10%;
  margin: auto;
  background-color: rgb(250, 252, 250);
  border: rgb(18, 18, 18) 1px solid;
  box-shadow: -3px 1px 28px #00000061;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 50px;
  
 
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  top:10px;
  right: -14px;

 }
 
 .cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #efc048;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
 }
 
 .cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #030608;
 }
 
 .cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #dbd28f;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
 }
 
 .cta:hover:before {
  width: 100%;
  background: #f2cf66;
 }
 
 .cta:hover svg {
  transform: translateX(0);
 }
 
 .cta:active {
  transform: scale(0.95);
 }
  

  .cocktail-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    margin-top: 41px;
    align-items: center;
  }

  h1{
    margin-top:-18px
  }
  .ingredients {
    display: flex;
    flex-direction: column;

  }

  & > div:first-child {
    display: flex;
    justify-self: start;
    justify-content: center;  
    
      img {
      width: 50%;
      border-radius: 5%;
    }
  }
}
.bc-img{
  min-width: 1500px;

}